<% include partials/header %>


<div class="container-fluid map-container">
    <div id="map"></div>
    <button class='barList btn-lg btn btn-info'type="button" name="button">View Bar List</button>

</div>


    <script>

      var data = <%- JSON.stringify(data) %>;
      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: <%= data.region.center.latitude %>, lng: <%= data.region.center.longitude %>}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

      var loc = [];
      console.log(data);
      for(var i = 0 ; i < 10; i ++){
        loc.push(
          {
           lat: data.businesses[i].location.coordinate.latitude, lng: data.businesses[i].location.coordinate.longitude
         });
      }
      console.log(loc);
      var locations = loc;
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= googleKey %>&callback=initMap">
    </script>
  </body>
</html>
