html, body{
  height: 100%;
  width: 100%;
}

.container-fluid{
  height: 100%;
}
#map{
  position: relative;
  height: 100%;
  width: 100%;
}

.floating {
  z-index: 100;
  position: absolute;
  margin: auto;
}
.barList{
position: absolute;
top: 5%;
left: 200px;
z-index: 10;
}


.city-name{
  width: 70%;
}


.well{
  background: transparent ;
  border: 2px solid black;
}
