html, body{
  height: 100%;
  width: 100%;
  background: #ADD8E6;
}

form{
  width: 70%;
  margin: auto;
}

.landing-container{
  margin: 20% auto;
}

.city-name{
  width: 70%;
}

.map-container{
  height: 100%;
  width: 80%;
  position: relative;
  padding: 0;
}
#map{
  position: relative;
  height: 100%;
  width: 100%;
}

.modal-content{
  background-color: #93e4dd;
}

.searchList{
  position: absolute;
  top: 15%;
  right: 5%;
  z-index: 10;
}

.cityList{
  position: absolute;
  font-size: 300%;
  top: 5%;  /* position the top  edge of the element at the middle of the parent */
   left: 50%; /* position the left edge of the element at the middle of the parent */

   transform: translate(-50%, -50%);
  z-index: 10;
}

.barList{
position: absolute;
top: 5%;
right: 5%;
z-index: 10;
}


.well{
  background: transparent ;
  border: 2px solid black;
}

.eachYelp{
  border: 2px solid black;
}

.img-fluid{
  max-width: 100%;
}
