html, body{
  height: 100%;
  width: 100%;
  background: steelblue;
}

.landing-container{
  margin: 20% auto;
}

.city-name{
  width: 70%;
}

.map-container{
  height: 100%;
  width: 80%;
  position: relative;
}
#map{
  position: relative;
  height: 100%;
  width: 100%;
}


.barList{
position: absolute;
top: 5%;
right: 10%;
z-index: 10;
}


.well{
  background: transparent ;
  border: 2px solid black;
}

.eachYelp{
  border: 2px solid black;
}

img{
  width: 80px;
  height: 80px;
}
